<!DOCTYPE html>
{% extends 'one_to_one/Chat.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-9 col-9">
        <div class="selected-user">
            <span style="text-transform: capitalize;" class="mb-4 font-semibold text-gray-600 dark:text-gray-300">{{frnd.username}}</span>
        </div>
        <div class="chat-container messagesdiv">
            <table class="table">
                <tbody id='chat-body'>
                    {% for message in messages %}
                    {% if message.sender == request.frnd.username %}
                    <tr>
                        <td>
                            <p class="bg-success p-2 mt-2 mr-5 shadow-sm text-white float-right rounded">
                                {{message.message}}
                            </p>
                        </td>
                        <td>
                            <p><small class="p-1 shadow-sm">{{message.timestamp|time:'H:i'}}</small></p>
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td>
                            <p class="bg-primary p-2 mt-2 mr-5 shadow-sm text-white float-left rounded">
                                {{message.message}}
                            </p>
                        </td>
                        <td>
                            <p><small class="p-1 shadow-sm">{{message.timestamp|time:'H:i'}}</small></p>
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="form">
            <input class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input" 
            placeholder="Write message..."
            type="text"
            id="message_input">
            <button class="px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
            id="chat-message-submit">
                Send
            </button>
        </div>
    </div>

<style>
    .messagesdiv {
        min-height: 480px;
        max-height: 480px; 
        text-align: center;
        width: 980px;
        min-width: 500px;
        background-color: #0025f9;
        overflow-y: scroll;
    }

    .form {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .form textarea {
        max-height: 65px;
        border-radius: 5px 5px 5px 8px;
        padding: 10px;
        resize: none;
        margin-bottom: -5px;
    }

    .send-btn {
        width: 150px;
        height: 50px;
        margin: 10px;
        margin-bottom: 8px;
    }
</style>

{{user.id|json_script:"json-username"}}
{{request.user.username|json_script:"json-message-username"}}
{{user.username|json_script:"json-username-receiver"}}

<script>
    const id = JSON.parse(document.getElementById('json-username').textContent);
    const message_username = JSON.parse(document.getElementById('json-message-username').textContent);
    const receiver = JSON.parse(document.getElementById('json-username-receiver').textContent);

    const socket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/'
        + id
        + '/'
    );

    socket.onopen = function(e) {
        console.log("CONNECTION ESTABLISHED");
    };
    
    socket.onclose = function(e) {
        console.log("CONNECTION LOST");
    };

    socket.onerror = function(e) {
        console.log(e);
    };

    socket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        const timestamp = new Date(data.timestamp).toLocaleTimeString([], {hour: '2-digit', minute: '2-digit'});

        console.log('finding user :',data.username);
        console.log('message :',data.message)
        console.log("another userr",message_username)


        if (data.username === message_username) {
            document.querySelector('#chat-body').innerHTML += `
            <tr>
                <td>
                    <p class="bg-success p-2 mt-2 mr-5 shadow-sm text-white float-right rounded">
                        ${data.message} 
                    </p>
                </td>
                <td>
                    <p><small class="p-1 shadow-sm">${timestamp}</small></p>
                </td>
            </tr>`;
        } else {
            document.querySelector('#chat-body').innerHTML += `
            <tr>
                <td>
                    <p class="bg-primary p-2 mt-2 mr-5 shadow-sm text-white float-left rounded">
                        ${data.message}
                    </p>
                </td>
                <td>
                    <p><small class="p-1 shadow-sm">${timestamp}</small></p>
                </td>
            </tr>`;
        }
    };
</script>

<script>
document.querySelector('#chat-message-submit').onclick = function(e) {
    const message_input = document.querySelector('#message_input');
    const message = message_input.value;
    console.log('Sending :',message);
    console.log('sending user:',message_username)

    socket.send(JSON.stringify({
        'message': message,
        'username': message_username,
        'receiver':receiver
    }));

    message_input.value = '';
};
</script>

</body>
</html>
{% endblock %}
